
@font-face {
  font-family: Prototype;
  src: url(Prototype.ttf);
}

* {
  font-family: Prototype;
}

body {
  background-image: url("Raspberry_Pi_Symbol.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.toolbar {
 box-sizing: border-box;
 background-color: rgba(220,20,60,0.6);
 border-style: solid;
 border-color: rgb(139,0,0);
 border-width: 3px;

 position: fixed;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 0px;
 width: 10%;
 text-align: center;
}

.toolbar a {
  display: block;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.toolbar a:hover {
  background-color: rgba(220,20,60,0.4);
  border-color: rgba(139,0,0,0.6);
}

.header {
  z-index: -2; position: absolute;
  background-color: rgba(240,240,240,0.5);
  color: rgb(143,13,39);
  margin-top: 0%;
  margin-left: 25%;
  margin-bottom: 0%;
  width: 50%;
  height: 150%;
  padding: 1%;
  top: 0%;
  text-align: center;
}

.text {
  position: absolute;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 25%;
  text-align: center;
  color: black;
  font-size: 18px;
}

#special {
  text-align:left;
}

#materials {
  top: 10%;
  text-align: center;
}

#materialsH {
  top: 7%;
  background-color: rgba(0,0,0,0)
}

#p1 {
  height: 260px;
  width: 340px;
  float: right;
  padding-left: 4%;
}

#p2 {
  float: right;
  height: 300px;
  width: 400px;
  margin-bottom: 80px;
  padding-left: 50px;
}

#p3 {
  float: left;
  height: 250px;
  width: 350px;
  padding-top: 10px;
  padding-right: 50px;
}

#p4 {
  float: left;
  height: 250px;
  width: 350px;
}

table {
  padding-top: 30%;
  margin-left: 30%;
  top: 30%;
  z-index: -1; position:relative;
}

th {
  color: rgb(143,13,39);
}
td {
    font-size: 13px;
}

.footer {
  position:fixed;
  bottom: 0;
  width: 10%;
  padding: 0.3%;
  padding-bottom: 0.5%;
  margin-left: 90%;
  background-color: rgba(220,20,60,0.7);
  border-style: solid;
  border-color: rgb(139,0,0);

}

#email {
  color: black;
}
